<div class = "container">
  <div class = "col-md-12 registrationContainer">
    <div class = "registerUserNameContainer col-md-12">
      <input class = "registerUserName col-md-12" placeholder="username" [(ngModel)] = "userName">
    </div>
    <div class = "registerUserPasswordContainer col-md-12">
      <input class = "registerUserPassword col-md-12" placeholder = "password" [(ngModel)] = "userPassword">
    </div>
    <div class = "registerButtonContainer col-md-12">
      <button class = "registerButton" (click) = "registerUser()"> Register </button>
    </div>
  </div>
</div>