<div class = "col-md-8 col-sm-12 postCardContainer">
  <div class = "col-lg-12 col-md-12 postCardHeadingContainer">
    <div class = "col-md-6 postCardTitleContainer">
      <h1 class = "col-md-12 postCardTitle"> {{ postCard.post_title }}</h1>
    </div>
    <div class = "col-md-6 postCardDateContainer">
      <h3 class = "col-md-12 postCardDate"> 
       <i> {{ postCard.post_date }} </i>
      </h3> 
    </div>
  </div>
  <div class = "col-lg-12 col-md-12 postCardContentContainer">
    <p class = "col-md-12 col-md-12 postCardContent">
      {{ postCard.post_content }}
    </p>
  </div>
</div>