<div class = "dummy-container">
        <div appStickNav class = "nav-bar-container">
                <nav class = "navbar" id = "nav-bar">
                    <h1 class = "navbar-brand nav-bar-header"> CommuSquare</h1>
                    <ul class = "nav-bar-list">
                        <li class = "nav-bar-list-item"><a routerLink ="/home"> Home </a></li>
                        <li class = "nav-bar-list-item"><a routerLink = "/walls"> Walls </a></li>
                        <li class = "nav-bar-list-item"><a routerLink = "/comp3"> My Posts </a></li>
                    </ul>
                </nav> 
            </div>
</div>