<div class = " col-lg-12 col-md-12- col-sm-12 card-component-container">
<div class = "col-md-4 col-sm-12 card-box-1">
    <h1 class = "card-header"> Card box </h1>
</div>
<div class = "col-md-4 col-sm-12 card-box-2">
    <h1 class = "card-header"> Card box </h1>
</div>
<div class = "col-md-4 col-sm-12 card-box-3">
    <h1 class = "card-header"> Card box </h1>
</div>
</div>
<div class = " col-lg-12 col-md-12- col-sm-12 card-component-container">
    <div class = "col-md-4 col-sm-12 card-box-1">
        <h1 class = "card-header"> Card box </h1>
    </div>
    <div class = "col-md-4 col-sm-12 card-box-2">
        <h1 class = "card-header"> Card box </h1>
    </div>
    <div class = "col-md-4 col-sm-12 card-box-3">
        <h1 class = "card-header"> Card box </h1>
    </div>
    </div>
    <div class = " col-lg-12 col-md-12- col-sm-12 card-component-container">
        <div class = "col-md-4 col-sm-12 card-box-1">
            <h1 class = "card-header"> Card box </h1>
        </div>
        <div class = "col-md-4 col-sm-12 card-box-2">
            <h1 class = "card-header"> Card box </h1>
        </div>
        <div class = "col-md-4 col-sm-12 card-box-3">
            <h1 class = "card-header"> Card box </h1>
        </div>
        </div>
        <div class = " col-lg-12 col-md-12- col-sm-12 card-component-container">
            <div class = "col-md-4 col-sm-12 card-box-1">
                <h1 class = "card-header"> Card box </h1>
            </div>
            <div class = "col-md-4 col-sm-12 card-box-2">
                <h1 class = "card-header"> Card box </h1>
            </div>
            <div class = "col-md-4 col-sm-12 card-box-3">
                <h1 class = "card-header"> Card box </h1>
            </div>
            </div>
            <div class = " col-lg-12 col-md-12- col-sm-12 card-component-container">
                <div class = "col-md-4 col-sm-12 card-box-1">
                    <h1 class = "card-header"> Card box </h1>
                </div>
                <div class = "col-md-4 col-sm-12 card-box-2">
                    <h1 class = "card-header"> Card box </h1>
                </div>
                <div class = "col-md-4 col-sm-12 card-box-3">
                    <h1 class = "card-header"> Card box </h1>
                </div>
                </div>

                <div class = " col-lg-12 col-md-12- col-sm-12 card-component-container">
                    <div class = "col-md-4 col-sm-12 card-box-1">
                        <h1 class = "card-header"> Card box </h1>
                    </div>
                    <div class = "col-md-4 col-sm-12 card-box-2">
                        <h1 class = "card-header"> Card box </h1>
                    </div>
                    <div class = "col-md-4 col-sm-12 card-box-3">
                        <h1 class = "card-header"> Card box </h1>
                    </div>
                    </div>
                    <div class = " col-lg-12 col-md-12- col-sm-12 card-component-container">
                        <div class = "col-md-4 col-sm-12 card-box-1">
                            <h1 class = "card-header"> Card box </h1>
                        </div>
                        <div class = "col-md-4 col-sm-12 card-box-2">
                            <h1 class = "card-header"> Card box </h1>
                        </div>
                        <div class = "col-md-4 col-sm-12 card-box-3">
                            <h1 class = "card-header"> Card box </h1>
                        </div>
                        </div>
                        <div class = " col-lg-12 col-md-12- col-sm-12 card-component-container">
                            <div class = "col-md-4 col-sm-12 card-box-1">
                                <h1 class = "card-header"> Card box </h1>
                            </div>
                            <div class = "col-md-4 col-sm-12 card-box-2">
                                <h1 class = "card-header"> Card box </h1>
                            </div>
                            <div class = "col-md-4 col-sm-12 card-box-3">
                                <h1 class = "card-header"> Card box </h1>
                            </div>
                            </div>
                            <div class = " col-lg-12 col-md-12- col-sm-12 card-component-container">
                                <div class = "col-md-4 col-sm-12 card-box-1">
                                    <h1 class = "card-header"> Card box </h1>
                                </div>
                                <div class = "col-md-4 col-sm-12 card-box-2">
                                    <h1 class = "card-header"> Card box </h1>
                                </div>
                                <div class = "col-md-4 col-sm-12 card-box-3">
                                    <h1 class = "card-header"> Card box </h1>
                                </div>
                                </div>
                                <div class = " col-lg-12 col-md-12- col-sm-12 card-component-container">
                                    <div class = "col-md-4 col-sm-12 card-box-1">
                                        <h1 class = "card-header"> Card box </h1>
                                    </div>
                                    <div class = "col-md-4 col-sm-12 card-box-2">
                                        <h1 class = "card-header"> Card box </h1>
                                    </div>
                                    <div class = "col-md-4 col-sm-12 card-box-3">
                                        <h1 class = "card-header"> Card box </h1>
                                    </div>
                                    </div>
                                    <div class = " col-lg-12 col-md-12- col-sm-12 card-component-container">
                                        <div class = "col-md-4 col-sm-12 card-box-1">
                                            <h1 class = "card-header"> Card box </h1>
                                        </div>
                                        <div class = "col-md-4 col-sm-12 card-box-2">
                                            <h1 class = "card-header"> Card box </h1>
                                        </div>
                                        <div class = "col-md-4 col-sm-12 card-box-3">
                                            <h1 class = "card-header"> Card box </h1>
                                        </div>
                                        </div>